@charset "UTF-8";

body {
	font-family: 'Consolas', 'meiryo', sans-serif;
	font-size: 13px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

.container {
	margin-top: 70px;
}

hr {
	margin-bottom: 5px;
}

.input-group-addon {
	background-color: #f5f5f5;
}

.panel-group {
	margin-bottom: 10px;
}

.panel-heading {
	height: 40px;
	padding: 10px;
}

.panel-body-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

.list-title {
	display: inline-block;
}

.input-memo {
	resize: none;
	height: 300px !important;
}

span.overflow {
	width: 900px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

@media screen and (min-width: 750px) and (max-width: 990px) {
	span.overflow {
		width: 680px;
	}
}

@media screen and (min-width: 480px) and (max-width: 750px) {
	span.overflow {
		width: 400px;
	}
}

@media screen and (max-width: 480px) {
	span.overflow {
		width: 280px;
	}
}

.margin-top-m3 {
	margin-top: -3px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-right-8 {
	margin-right: 8px;
}

.padding-10 {
	padding: 10px;
}

.padding-top-2 {
	padding-top: 2px;
}

.padding-top-15 {
	padding-top: 15px;
}